* {
  margin: 0; padding: 0;
}

body {
  color: #333;
  transition: all 0.2s ease-in-out;
}

body, input {
  font: 20px/1.6em "Gill Sans", Helvetica, Arial, sans-serif;
}

p {
  margin: 0 0 0.7em 0;
}

h1, h2 {
  font-family: Palatino, "Times New Roman", Times, serif;
}

h1 {
  color: #fff;
  font-style: italic;
}

h2 {
  font-size: 1.8em;
  margin: 1em 0 0.8em 0;
}

form {
  font-size: 1.2em;
}
form label {
  display: block;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 14em;
  font-size: 1em;
  padding: 0.2em;
}

input[type="submit"] {
  background: #1ABC9C;
  color: #fff;
  border: none;
  font-size: 1em;
  padding: 0.8em 2em;
  border-radius: 5px;
}

ul, ol {
  margin: 0 0 0.7em 1em;
}


#top-menu {
  padding: 0.8em 2em;
  background: #3498DB;
  color: #2C3E50;
}

#top-menu h1 {
  display: inline;
  margin-right: 1em;
}

#top-menu-choices a {
  text-decoration: none;
  color: #ddd;
  font-size: 1.2em;
  margin-right: 0.5em;
}

#top-menu-choices a:hover {
  color: #fff;
  text-decoration: underline;
}

.content {
  padding: 0 2em;
  width: 60em;
}

.field {
  margin: 0 0 0.7em 0;
}

.content-left, .content-right {
  float: left;
}

.content-left {
  width: 20em;
  padding: 0.5em 0;
  border-right: #eee solid 1px;
}

.content-right {
  padding: 0.5em 1.5em;
  width: 33em;
}

@media only screen and (max-width: 1200px) {
  body, input {
    font: 18px/1.6em "Gill Sans", Helvetica, Arial, sans-serif;
  }
}

@media only screen and (max-width: 1100px) {
  body, input {
    font: 16px/1.6em "Gill Sans", Helvetica, Arial, sans-serif;
  }
}